

.sl0-country {
  fill: rgb(196, 100, 12);
  stroke: #333;
}
.sl0-ocean {
  fill: rgba(145, 200, 245, 0.8);
  stroke: #333;
}

/* Slide Global */
.slide-grid-full {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(7, 1fr);
  height: 100%;
  width: 100%;
}
.slide-title {
  border-bottom: 1px solid gold;
  color: white;
  font-weight: 400;
  grid-column: 1 / span 9;
  grid-row: 1;
  margin: auto;
}
.slide-full-sub {
  color: white;
  grid-column: 2 / span 7;
  grid-row: 2 / span 6;
  height: 100%;
  width: 100%;
}
.slide-full-bullets {
  color: white;
  display: flex;
  flex-direction: column;
  grid-column: 2 / span 7;
  grid-row: 2 / span 6;
  height: 100%;
  justify-content: space-evenly;
  width: 100%;
}

/* Basics */
.basics-group {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: space-evenly;
  margin: 10% auto;
  width: 80%;
}
.basics-geoJSON {
  background: rgba(0, 255, 255, 0.6);
  border-radius: .5rem;
  grid-column: 1 / span 3;
  grid-row: 2 / span 7;
}
.basics-projections {
  background: rgba(255, 0, 255, 0.6);
  border-radius: .5rem;
  grid-column: 4 / span 3;
  grid-row: 2 / span 7;
}
.basics-geoPath {
  background: rgba(126, 252, 0, 0.6);
  border-radius: .5rem;
  grid-column: 7 / span 3;
  grid-row: 2 / span 7;
}
.basics-group-title {
  color: #242424;
  font-weight: 400;
}
.basics-code {
  height: 80%;
  width: 90%;
}
.basics-projection-card {
  background: #242424;
  background-image: url("/assets/projection.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 80%;
  width: 90%;
}
.basics-geopath-card {
  background: #242424;
  background-image: url("/assets/functionGen.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 80%;
  width: 90%;
}

/* BasicFlow */
.basicflow-group {
  align-items: center;
  display: flex;
  height: 60%;
  justify-content: center;
  margin: 10% 5%;
  width: 90%;
}
.basicflow-geoJSON {
  background: rgba(0, 255, 255, 0.6);
  border-radius: .5rem;
  grid-column: 2 / span 3;
  grid-row: 2 / span 2;
}
.basicflow-projection {
  background: rgba(255, 0, 255, 0.6);
  border-radius: .5rem;
  grid-column: 6 / span 3;
  grid-row: 2 / span 2;
}
.basicflow-geoPath {
  background: rgba(126, 252, 0, 0.6);
  border-radius: .5rem;
  grid-column: 4 / span 3;
  grid-row: 6 / span 2;
}
.basicflow-group > p {
  color: #242424;
  font-weight: 400;
}
.basicflow-arrows {
  background-image: url("/assets/arrows.svg");
  background-repeat: no-repeat;
  background-size: contain;
  grid-column: 3 / span 5;
  grid-row: 4 / span 2;
  height: 100%;
  width: 100%;
}

/* BasicCode */
.basiccode-code {
  grid-column: 2 / span 7;
  grid-row: 2 / span 6;
  height: 100%;
  margin: 0 !important;
  width: 100%;
}

/* GeojsonOverview */
.geojson-overview-a {
  color: palevioletred;
  cursor: pointer;
  text-decoration: none;
}

/* Antimeridian */
.am-button-wrapper {
  display: flex;
  grid-column: 1 / span 9;
  grid-row: 1 / span 1;
  justify-content: space-evenly;
}
.am-button {
  border-radius: .5rem;
  box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.75);
  color: white;
  cursor: pointer;
}
.am-button-anti {
  background: rgba(255, 0, 0, 0.8);
}
.am-button-anti-active {
  background: rgba(255, 0, 0, 0.8);
  box-shadow: 0px 0px 10px 0 rgba(252, 235, 4, 0.75);
}
.am-button-prime {
  background: rgba(0, 0, 255, 0.8);
}
.am-button-prime-active {
  background: rgba(0, 0, 255, 0.8);
  box-shadow: 0px 0px 10px 0 rgba(252, 235, 4, 0.75);
}
.am-canvas-wrapper {
  align-items: center;
  display: flex;
  grid-column: 1 / span 9;
  grid-row: 2 / span 6;
  justify-content: center;
}


/* Projection */
.projection-image {
  background: #242424;
  background-image: url("/assets/projection.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: .5rem;
  grid-column: 1 / span 3;
  grid-row: 2 / span 6;
  height: 90%;
  margin: auto;
  width: 90%;
}
.projection-group {
  align-items: center;
  background: #242424;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  grid-column: 4 / span 6;
  grid-row: 2 / span 6;
  height: 90%;
  justify-content: space-evenly;
  margin: auto;
  text-align: center;
  width: 90%;
}
.projection-group p {
  color: white;
  font-size: 3vw;
}

/* ProjectionMeth */
.projection-meth-group {
  align-items: center;
  background: #242424;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: space-evenly;
  margin: auto;
  text-align: center;
  width: 90%;
}
.projection-meth-group-left {
  grid-column: 2 / span 3;
  grid-row: 2 / span 6;
}
.projection-meth-group-right {
  grid-column: 6 / span 3;
  grid-row: 2 / span 6;
}
.projection-meth-group p {
  color: white;
  font-size: 3vw;
}

/* ProjectionRotate */
.projection-rotate-group {
  align-items: flex-start;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  grid-column: 3 / span 6;
  grid-row: 2 / span 2;
  height: 100%;
  justify-content: space-evenly;
  margin: auto;
  text-align: center;
  width: 100%;
}
.projection-rotate-group p {
  color: white;
  font-size: 2.2vw;
}
.projection-rotate-globes {
  align-items: center;
  border-radius: .5rem;
  display: flex;
  grid-column: 1 / span 9;
  grid-row: 4 / span 4;
  height: 100%;
  justify-content: space-evenly;
  width: 100%;
}
.projection-rotate-globe p {
  color: white;
  font-size: 2vw;
  text-align: center;
}

/* CanvasSVG */

.canvasSVG-group {
  align-items: center;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: space-evenly;
  margin: auto;
  width: 75%;
}

.canvasSVG-canvas-group {
  border: 2px solid orange;
  grid-column: 1 / span 5;
  grid-row: 2 / span 6;
}
.canvasSVG-svg-group {
  border: 2px solid rgba(126, 252, 0, 0.6);
  grid-column: 5 / span 5;
  grid-row: 2 / span 6;
}
.canvasSVG-canvas-title {
  color: orange;
  font-size: 6vw;
}
.canvasSVG-svg-title {
  color: rgba(126, 252, 0, 0.6);
  font-size: 6vw;
}
.canvasSVG-canvas-group p,
.canvasSVG-svg-group p {
  color: white;
  font-size: 3vw;
}

/* Path */
.path-image {
  background-image: url('/assets/path-gears.svg');
  background-repeat: no-repeat;
  background-size: contain;
  grid-column: 3 / span 5;
  grid-row: 2 / span 6;
  height: 90%;
  margin: auto;
  width: 90%;
}
.path-input-geo {
  align-items: center;
  background: rgba(255, 0, 255, 0.6);
  border-radius: .5rem;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 3vw;
  grid-column: 1 / span 3;
  grid-row: 3 / span 2;
  height: 70%;
  justify-content: space-evenly;
  margin: auto;
  width: 80%;
}
.path-input-feature {
  align-items: center;
  background: rgba(255, 0, 255, 0.6);
  border-radius: .5rem;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 3vw;
  grid-column: 1 / span 3;
  grid-row: 5 / span 2;
  height: 70%;
  justify-content: space-evenly;
  margin: auto;
  width: 80%;
}
.path-output-svg {
  align-items: center;
  background: rgba(126, 252, 0, 0.6);
  border-radius: .5rem;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 3vw;
  grid-column: 7 / span 3;
  grid-row: 3 / span 2;
  height: 70%;
  justify-content: space-evenly;
  margin: auto;
  width: 80%;
}
.path-output-canvas {
  align-items: center;
  background: rgba(126, 252, 0, 0.6);
  border-radius: .5rem;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 3vw;
  grid-column: 7 / span 3;
  grid-row: 5 / span 2;
  height: 70%;
  justify-content: space-evenly;
  margin: auto;
  width: 80%;
}